.header {
    .navbar-brand {
        font-size: 2em;
        margin: 0;
        vertical-align: top;
        display: inline-block;
        line-height: 1;
        padding: 0;
        color: rgba(0, 0, 0, 0.55);
    }
    .navbar-toggler {
        position: relative;
        outline: none;
        box-shadow: none;
        border: none;
    }
    .logout {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.2em;
        padding: 1px 4px;
        z-index: 1;
    }
    a {
        cursor: pointer;
    }
    .logo {
        position: relative;
        text-align: center;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        img {
            position: relative;
            max-width: 500px;
            width: 100%;
        }
    }
}
