<!--<div class="first-board" *ngIf="!showOnce">-->
<!--    hi-->
<!--</div>-->
<div class="model" *ngIf="page === 'privacy-model'" [ngClass]="{'model-empty': !modelResults}">
    <div class="headline-no-prompt" *ngIf="!modelResults">
        <!--            <h2 class="text-center">Start Using {{host}}</h2>-->
        <div class="info-model">
            <div class="text">Start using chatGpt</div>
        </div>
    </div>
    <div class="headline-with-prompt" *ngIf="modelResults">
        <!--            <h2 class="text-center">Privacy Model Results</h2>-->
        <div class="text-center box">
            <div class="bold header">
                <span class="text">Suggested Prompt</span> <i id="suggested_prompt_clipboard" class="bi bi-clipboard" (click)="copyPrompt()"></i>
            </div>
            <div class="prompt">
                {{modelResults.suggested_prompt}}
            </div>
        </div>
        <div class="text-center box">
            <div class="bold header">
                <span class="text">Model Used</span>
            </div>
            <div>
                {{modelResults.suggested_model}}
            </div>
        </div>
        <div class="text-center box">
            <div class="bold header">
                <span class="text">Model Results</span>
            </div>
            <div>
                {{modelResults.model_res | json}}
            </div>
        </div>
        <div class="text-center box">
            <div class="bold header">
                <span class="text">Privacy Pass</span>
            </div>
            <div>
                <div class="pass_privacy_failed" *ngIf="!modelResults.pass_privacy">prompt did not pass privacy policy</div>
                <div class="pass_privacy_success" *ngIf="modelResults.pass_privacy">prompt pass privacy policy</div>
            </div>
        </div>
        <div class="text-center box">
            <div class="buttons" *ngIf="!modelResults.pass_privacy">
                <button id="force_button" (click)="forcePrompt()">Continue Anyway</button>
            </div>
        </div>
    </div>
</div>
<div class="prompt-uploader" *ngIf="page === 'prompt-uploader'">
    <div class="drag-drop">
        <div class="drop-area" appDragAndDrop (fileDropped)="filesDropped($event)">
            <div class="dashed-area">
                <div class="header">
                    txt/pdf/csv/xlsx/docx files only.
                </div>
                Drop files here or click to select
                <input class="file-input" type="file" title="" accept=".txt, .pdf, .csv, .xlsx, .docx" (change)="uploadFiles($event)">
            </div>
        </div>
        <div class="loader-wrapper" *ngIf="fileLoading">
            <div class="loader">
                <div class="spinner-border">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="results">
        <div class="outer-scroll">
            <div class="inner-scroll" #file_upload_results_scroll>
                <div class="options-wrapper mt-3"  *ngIf="fileText">
                    <div class="options"
                         [@openClose]="uploadPromptExpend ? 'options-expend-small' : 'options-minimize'"
                         [ngClass]="{'options-expend': uploadPromptExpend}">
                        <div class="top-right-icon pointer" (click)="togglePromptOptions()">
                            <div class="expend" *ngIf="!uploadPromptExpend"><i class="bi bi-chevron-down"></i></div>
                            <div class="minimize" *ngIf="uploadPromptExpend"><i class="bi bi-chevron-up"></i></div>
                        </div>
                        <div class="head">
                            <h6 class="text-center" *ngIf="fileText">Uploaded File Preview:</h6>
                        </div>
                        <div class="option option-no-margin">
                            <div class="file-text" *ngIf="fileText">
                                <h6 class="pre-wrap" [ngClass]="{'text-center': chatGptRequestError}">{{(fileText.length > 100 ? fileText.substring(0, 100) + '...' : fileText)}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3" *ngIf="fileText">
                    <select class="form-select input mt-3" [(ngModel)]="fileTask" required>
                        <option value="">Select Task</option>
                        <ng-container *ngFor="let item of promptSettings">
                            <option value="" *ngIf="item.visible && item.title" [ngValue]="item.title">{{item.title}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="mt-3" *ngIf="fileUploadErr">
                    <div class="error text-danger text-center">
                        {{fileUploadErr}}
                    </div>
                </div>
                <div class="mt-3" *ngIf="fileSubmitErr">
                    <div class="error text-danger text-center" >
                        {{fileSubmitErr}}
                    </div>
                </div>
                <div class="options-wrapper mt-3 mb-1"  *ngIf="fileUploadResults">
                    <div class="options"
                         [@openClose]="uploadPromptResultsExpend ? 'options-expend-un-limit' : 'options-minimize'"
                         [ngClass]="{'options-expend-un-limit': uploadPromptResultsExpend}">
                        <div class="top-right-icon pointer" (click)="togglePromptResultsOptions()">
                            <div class="expend" *ngIf="!uploadPromptResultsExpend"><i class="bi bi-chevron-down"></i></div>
                            <div class="minimize" *ngIf="uploadPromptResultsExpend"><i class="bi bi-chevron-up"></i></div>
                        </div>
                        <div class="bottom-left-icon" *ngIf="!fileSubmitInProgress">
                            <div class="expend"><i class="bi bi-save"></i></div>
                            <div class="file-type-options">
                                <div class="type pointer" title="txt" (click)="saveCurrentFileUploadResults('txt')"><i class="bi bi-filetype-txt"></i></div>
                                <div class="type pointer" title="csv" (click)="saveCurrentFileUploadResults('csv')"><i class="bi bi-filetype-csv"></i></div>
                                <div class="type pointer" title="pdf" (click)="saveCurrentFileUploadResults('pdf')"><i class="bi bi-filetype-pdf"></i></div>
                                <div class="type pointer" title="docx" (click)="saveCurrentFileUploadResults('docx')"><i class="bi bi-filetype-docx"></i></div>
                            </div>
                        </div>
                        <div class="head">
                            <h6 class="text-center" *ngIf="fileUploadResults">
                                Results:
                                <div class="spinner-border" role="status" *ngIf="fileSubmitInProgress">
                                    <span class="sr-only"></span>
                                </div>
                                <div class="progress-bar" *ngIf="fileUploadGptHtmlProgress > -1 && fileSubmitInProgress"
                                     [title]="fileUploadGptHtmlProgress + '%'"
                                     [ngStyle]="{'width': fileUploadGptHtmlProgress + '%'}"
                                ></div>
                            </h6>
                        </div>
                        <div class="option option-no-margin">
                            <div class="file-text" *ngIf="fileUploadResults">
                                <h6 class="pre-wrap computer-prompt"[ngClass]="{
                                    'text-center': chatGptRequestError || fileUploadResults === 'please be patient while we are working on your file'
                                }">{{fileUploadResults}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3" *ngIf="chatGptNeedToRefreshToken">
                    <a href="https://chat.openai.com/chat" class="btn flex justify-center gap-2 btn-primary" target="_blank">
                        Please login in ChatGpt
                    </a>
                </div>
            </div>
        </div>
        <div class="stop-button" *ngIf="fileChatShowStopButton">
            <div class="text-center">
                <a class="pointer btn btn-outline-secondary" (click)="stopChat()">
                   <i class="bi bi-stop-fill"></i>
                </a>
            </div>
        </div>
    </div>
    <!--        <div class="text">-->
    <!--            <div *ngIf="!fileText">Upload txt file to inject to chatGpt</div>-->
    <!--            &lt;!&ndash;            <div class="file-text" *ngIf="fileText">&ndash;&gt;-->
    <!--            &lt;!&ndash;                <h6 class="text-center">{{fileText.substring(0, 100) + '...'}}</h6>&ndash;&gt;-->
    <!--            &lt;!&ndash;            </div>&ndash;&gt;-->
    <!--            <div class="text-center box" *ngIf="fileText">-->
    <!--                <div class="buttons">-->
    <!--                    <button id="continue_button" (click)="copyTextToPrompt()">Copy To Prompt</button>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <div class="input-group text-center">
        <button type="button" class="btn btn-outline-secondary" (click)="submitFileUpload()">Submit</button>
    </div>
    <!--    <div class="error text-danger text-center" *ngIf="fileUploadErr">-->
    <!--        {{fileUploadErr}}-->
    <!--    </div>-->
</div>
<div class="chat" *ngIf="page === 'chat'">
    <!--    <h2 class="text-center">Chat</h2>-->
    <div class="input-group">
        <!--        <input type="text" class="input form-control" placeholder="Prompt" (keyup.enter)="promptFromInput(this.chatPrompt)" [(ngModel)]="chatPrompt">-->
        <textarea name="" id="" class="input form-control" placeholder="Prompt"
                  cols="1" rows="1" style="resize: none;"
                  (keydown)="preventTextAreaEnter($event)"
                  (keyup.enter)="promptFromInput(this.chatPrompt)" [(ngModel)]="chatPrompt"></textarea>
        <button class="button btn btn-outline-secondary" type="button" (click)="promptFromInput(this.chatPrompt)">Send</button>
    </div>
    <div class="results">
        <div class="outer-scroll">
            <div class="inner-scroll" #chat_results_scroll>
                <div class="info-model-new">
                    <div class="options-wrapper">
                        <div class="options"
                             [@openClose]="chatExpend ? 'options-expend-un-limit' : 'options-minimize'"
                             [ngClass]="{'options-expend': chatExpend}">
                            <div class="top-right-icon pointer" (click)="toggleChatOptions()">
                                <div class="expend" *ngIf="!chatExpend"><i class="bi bi-chevron-down"></i></div>
                                <div class="minimize" *ngIf="chatExpend"><i class="bi bi-chevron-up"></i></div>
                            </div>
                            <div class="head">
                                <h6>There are couple of options you can start using Gaia's plugin:</h6>
                            </div>
                            <div class="option">
                                1. You can insert a prompt below
                            </div>
                            <div class="option">
                                2. You can send a prompt below or right click and:
                                <div>- Summarize entire article (pdf not support yet)</div>
                                <div>- Summarize selected text</div>
                                <div>- Expand selected text</div>
                                <div>- Ask a GAI chatbot</div>
                            </div>
                            <div class="option">
                                3. You can create custom functions through settings that will be accessible through right click.
                                Custom function adds a prefix for a prompt.
                            </div>
                            <br/>
                            <div class="option">
                                Note:
                                A custom function of "create action items" for selected text "Lorem ipsum dolor sit amet" will have action items extracted from the selected text.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" *ngFor="let item of chat; let i = index" [ngClass]="{'box-colored': i % 2}">
                    <span class="prompt-icon">
                        <i *ngIf="!(i % 2)" class="bi bi-person"></i>
                        <i *ngIf="(i % 2)" class="bi bi-laptop"></i>
                    </span>
                    <span class="prompt pre-wrap" [ngClass]="{'computer-prompt': (i % 2)}" [innerHTML]="item.text"></span>
                    <div class="spinner-border" role="status" *ngIf="!item.text && sentQuestionToChat">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar" *ngIf="(i % 2) && chatGptHtmlProgress > -1 && !item.text && sentQuestionToChat"
                         [attr.progress]="chatGptHtmlProgress + '%'"
                         [ngStyle]="{'width': chatGptHtmlProgress + '%'}"
                    ></div>
                    <div class="clipboard-wrapper"
                         *ngIf="(item.text && !(i % 2)) || (item.text && (i % 2) && item.done)">
                        <div class="clipboard">
                            <i class="bi bi-clipboard pointer" (click)="copyText(item.text, i)" *ngIf="copyTextSuccess === -1 || copyTextSuccess !== i"></i>
                            <i class="bi bi-hand-thumbs-up text-success" *ngIf="copyTextSuccess !== -1 && copyTextSuccess === i"></i>
                        </div>
                    </div>
                </div>
                <div class="mt-3 text-center" *ngIf="chatGptNeedToRefreshToken">
                    <a href="https://chat.openai.com/chat" class="btn flex justify-center gap-2 btn-primary" target="_blank">
                        Please login in ChatGpt
                    </a>
                </div>
            </div>
        </div>
        <div class="stop-button" *ngIf="chatShowStopButton">
            <div class="text-center">
                <a class="pointer btn btn-outline-secondary" (click)="stopChat()">
                   <i class="bi bi-stop-fill"></i>
                </a>
            </div>
        </div>
    </div>
</div>
